<div>
  <input [(ngModel)]="amount1" (input)="onAmount1Change()" type="number" />
  <select [(ngModel)]="selectedCurrency1" (change)="onCurrency1Change()">
    <option *ngFor="let currency of currencies" [value]="currency">
      {{ currency }}
    </option>
  </select>

  <p>=</p>

  <input [(ngModel)]="amount2" (input)="onAmount2Change()" type="number" />
  <select [(ngModel)]="selectedCurrency2" (change)="onCurrency2Change()">
    <option *ngFor="let currency of currencies" [value]="currency">
      {{ currency }}
    </option>
  </select>
</div>
